<div class="relative">
  <div class="grid ">
    <div class="modal-body flex flex-column justify-content-center align-items-center ">
      <form class="flex flex-column justify-content-center h-full   mt-3 form-dialogue-one-raw" appFocusInvalidInput
        [formGroup]="myForm" (ngSubmit)="save()">
        <div class=" flex  flex-column gap-3  w-full justify-content-center align-items-center ">
          <div class="flex justify-content-between flex-column  w-10">
            <app-input class="w-full" [customError]="errorNameDuplicated" [controlName]="'nom'" [label]="'NAME'"
              [placeholder]="'NAME'" [isRequired]="true">
            </app-input>
            @if(errorNameDuplicated) {
            <small class="error text-xs "> {{"NAME_ALREADY_EXISTS" | translate}} </small>
            }
          </div>
          <div class="flex justify-content-between gap-5  w-10">
            <app-input class="w-full" [controlName]="'adresse'" [label]="'ADDRESS'" [placeholder]="'ADDRESS'"
              [isRequired]="true">
            </app-input>
          </div>
          <div class="flex justify-content-between  flex-column w-10">
            <app-input-chips #inputChipsListMail [customError]="errorMailDuplicated" class="w-full"
              [controlName]="'email'" [label]="'EMAIL'" [placeholder]="'EMAIL'">
            </app-input-chips>
            @if(errorMailDuplicated) {
            <small class="error text-xs "> {{"EMAIL_ALREADY_EXISTS" | translate}} </small>
            }
          </div>
          <div class="flex justify-content-between gap-5  w-10">
            <app-input class="w-full" [controlName]="'numTel'" [label]="'PHONE' " [placeholder]="'PHONE' "
              [isRequired]="true">
            </app-input>
          </div>
        </div>
        <div class=" footer-set-element flex gap-3 w-full justify-content-end ">
          <app-button (clickEv)="cancel()" size="small"
            styleClass=" p-button  surface-400 hover:surface-600 border-none border-round-sm ">
            {{"CLOSE" | translate }}
          </app-button>
          <app-button size="small" type="submit" styleClass=" p-button  border-round-sm">
            {{ id ? ( "UPDATE" | translate) : ( "ADD" | translate) }}
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>