<div class="flex flex-column justify-content-start ">
  @if(label) {
  <div class="flex gap-1 align-items-end font-semibold">
    <span [id]="controlName + '_label'" [class]="styleClassLabel">{{label}}
      @if (isRequired) {
      <span class="label-required">*</span>
      }
      @if (tooltip) {
      <i class="pi pi-info-circle ml-2 cursor-pointer" [appendTo]="'body'" tooltipStyleClass="tooltip-custom"
        [tooltipPosition]="tooltipPosition" [pTooltip]="tooltipText"></i>
      }
    </span>
  </div>
  }
  <p-datepicker #focusable [view]="view" [size]="'small'"
    [dateFormat]="view === 'year' ? 'yy' : view ==='month' ? 'mm' : customDateFormat"
    [panelStyleClass]="'custom-panel-date-picker'"
    [maxDate]="maxDate ? inputService.parentFormGroup.get('endDate')?.value ?? '' : ''  "
    [minDate]="minDate ? inputService.parentFormGroup.get('startDate')?.value ?? '' : ''  " [placeholder]="placeholder"
    [formControlName]="controlName" [touchUI]="(isMobileOrTablet$ | async)"
    [appendTo]="(isMobileOrTablet$ | async) ? '' :'body'" [readonlyInput]="true"
    [inputStyleClass]="' custom-input date-picker-custom '+( isDisabled ?' cursor-text ':'cursor-pointer ') + inputStyleClass"
    [selectionMode]="selectionMode" [showButtonBar]="true" [showIcon]="true" [inputId]="controlName" iconDisplay="input"
    styleClass="w-full" [class.ng-invalid]="(inputService.submitted && inputService.controlInvalid)  || customError"
    [class.ng-dirty]="(inputService.submitted && inputService.controlInvalid)  || customError">
    <ng-template pTemplate="inputicon">
      <div class="h-2rem w-2rem flex justify-content-center align-items-center " style="margin-top: -8px;">
        <svg-icon src="assets/svgs/date-picker-filter.svg"></svg-icon>
      </div>
    </ng-template>
  </p-datepicker>
</div>
@if (isRequired && !isFormArray) {
@if (inputService.controlHasRequiredError && inputService.submitted) {
<small class="error"> {{"THIS_FIELD_IS_REQUIRED" | translate}} </small>
}
}