<div class="parent-wrapper  flex flex-column  mx-3 ">
  <div class=" mb-5">
    <div class="flex gap-3 align-items-center">
      <svg-icon src=" assets/svgs/sms.svg" svgClass="w-full h-full  secondary-color "></svg-icon>
      <div class="text-3xl font-bold  secondary-color mb-3 ">
        {{"OUTGOING_CORRESPONDENCE" | translate}}</div>
    </div>
    <form [formGroup]="myForm">
      <div class="filters flex w-full flex-wrap gap-3 align-items-center justify-content-between ">
        <app-dropdown class="lg:w-3  w-full" styleClass="w-full" [placeholder]="'PRIORITY'"
          [controlName]="'prioriteCourrier'" [listValues]="listOfProrities" [optionLabel]="'name'"
          [optionValue]="'value'"></app-dropdown>
        <app-input [controlName]="'search'" [placeholder]="'TYPE_TO_SEARCH'" [maxLength]="10000" styleClass=" w-full"
          class="lg:w-4  w-full"></app-input>


        <app-date-picker class="xl:w-2 lg:w-5 w-full" [maxDate]="true" [controlName]="'startDate'"></app-date-picker>
        <app-date-picker class="xl:w-2 lg:w-5 w-full" [minDate]="true" [controlName]="'endDate'"></app-date-picker>

      </div>
    </form>
    <app-table (showEv)="goToView($event)" [showAddBtn]="false" #table [titleTable]="''" [actions]="['view']"
      [columns]="columns" [searchHighlightColumns]="['referenceCourrier','expediteur','destinataire']">
    </app-table>
  </div>
</div>